@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Quality Manager</h3>

<address>
    916 Markham road<br />
    Scarborough, ON, M1B 2W1<br />
    <abbr title="Phone">P:</abbr>
    647.111.0001
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:QualityManager1@test.com">QualityManager1@test.com</a><br />
</address>