@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <img src="/Content/images/Home_babysitter01.jpg" class="img-rounded" alt="Baby Sitter">
    <p class="lead">
        <br/>
        Happy Sitter system can use the Google map to help customer find the best sitter near the customer location.
    </p>
</div>
